<div class="container">
    <div class="col-md-6 offset-md-3 mt-3">
        <p class="text-success">Redirecting to home page in 10 Seconds!</p>
        <div class="col-sm-12 pl-0 border pr-0 pl-0 pt-2 pb-0 query">
            <p class="text-center h5 font-weight-normal text-danger">Submitted Query</p>
            <div class="data p-5 m-0">
                <p class="pl-0">
                    <span class="font-weight-bold">Fullname</span>
                    <span class="font-weight-normal pl-4">{{ data.fullName }}</span>
                </p>
                <p class="pl-0"><span class="font-weight-bold">Email</span>
                    <span class="font-weight-normal pl-5">{{ data.email }}</span>
                </p>
                <p class="pl-0"><span class="font-weight-bold">Comment</span>
                    <span class="font-weight-normal pl-3">{{ data.comment }}</span>
                </p>
            </div>
        </div>
        <!-- <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div> -->
    </div>
</div>